[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/Microsoft/vcpkg
[submodule "websocketpp"]
	path = Release/libs/websocketpp
	url = https://github.com/hayhurst-zz/websocketpp.git
	fetchRecurseSubmodules = false
